#jinja2:lstrip_blocks: True
# {{ ansible_managed }}

# WireGuard Settings
WG_DEVICES={{ wg_portal_wg_devices }}
WG_DEFAULT_DEVICE={{ wg_portal_wg_default_device }}
WG_CONFIG_PATH={{ wg_portal_wg_config_path }}

# Core Settings
LISTENING_ADDRESS={{ wg_portal_listening_address }}
EXTERNAL_URL={{ wg_portal_external_url }}
WEBSITE_TITLE={{ wg_portal_website_title }}
COMPANY_NAME={{ wg_portal_company_name }}
{% if wg_portal_admin_credentials_ssm_enabled | bool %}
ADMIN_USER={{ lookup('amazon.aws.aws_ssm', wg_portal_admin_username_ssm_parameter, region=wg_portal_admin_credentials_ssm_region) }}
ADMIN_PASS={{ lookup('amazon.aws.aws_ssm', wg_portal_admin_password_ssm_parameter, region=wg_portal_admin_credentials_ssm_region) }}
{% else %}
ADMIN_USER={{ wg_portal_admin_username }}
ADMIN_PASS={{ wg_portal_admin_password }}
{% endif %}

{% if wg_portal_email_enabled | bool %}
# Mail Settings
MAIL_FROM={{ wg_portal_email_from }}
EMAIL_HOST={{ wg_portal_email_host }}
EMAIL_PORT={{ wg_portal_email_port }}
EMAIL_ENCRYPTION={{ wg_portal_email_encryption }}
EMAIL_CERT_VALIDATION={{ wg_portal_email_cert_validation | bool | string | lower }}
{% if wg_portal_email_credentials_ssm_enabled | bool %}
EMAIL_USERNAME={{ lookup('amazon.aws.aws_ssm', wg_portal_email_username_ssm_parameter, region=wg_portal_email_credentials_ssm_region) }}
EMAIL_PASSWORD={{ lookup('amazon.aws.aws_ssm', wg_portal_email_password_ssm_parameter, region=wg_portal_email_credentials_ssm_region) }}
{% else %}
EMAIL_USERNAME={{ wg_portal_email_username }}
EMAIL_PASSWORD={{ wg_portal_email_password }}
{% endif %}
{% endif %}
